# Django Settings
SECRET_KEY=your-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DATABASE_URL=your-database-url
CONN_MAX_AGE=conn-max-age-setting

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# Logging
LOGGING_LEVEL=base-log-level-here

# Email
DEFAULT_FROM_EMAIL=default@host.com
EMAIL_BACKEND=email.backend.value
EMAIL_HOST=your-email-host
EMAIL_PORT=your-email-port
EMAIL_USE_TLS=true-or-false
EMAIL_HOST_USER=your-email-host-username
EMAIL_HOST_PASSWORD=your-email-host-password
FROM_DOMAIN=your-deployed-server-domain

# Verification tokens
VERIFICATION_TOKEN_EXPIRY=expiry-value-in-minutes

# Google OAuth2
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=oauth2-key
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=oauth2-secret
