asgiref==3.8.1
attrs==25.3.0
cfgv==3.4.0
coverage==7.8.2
distlib==0.3.9
dj-database-url==3.0.0
django==5.2.1
django-cors-headers==4.7.0
django-debug-toolbar==5.2.0
django-environ==0.12.0
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.0
drf-spectacular==0.28.0
drf-spectacular-sidecar==2025.6.1
faker==37.3.0
filelock==3.18.0
-e file:///home/iamprecieee/Desktop/HP-Backend
identify==2.6.12
inflection==0.5.1
iniconfig==2.1.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
loguru==0.7.3
nodeenv==1.9.1
packaging==25.0
platformdirs==4.3.8
pluggy==1.6.0
pre-commit==4.2.0
pygments==2.19.1
pyjwt==2.9.0
pytest==8.4.0
pytest-cov==6.1.1
pyyaml==6.0.2
referencing==0.36.2
rpds-py==0.25.1
sqlparse==0.5.3
typing-extensions==4.14.0
tzdata==2025.2
uritemplate==4.2.0
uuid6==2024.7.10
virtualenv==20.31.2
whitenoise==6.9.0
